<h2><%= "#{@building.name} - Floor #{@floor.floor.gsub(/^0+(?!$)/, '')}" %></h2>
<div class="py-2">
  <%= link_to 'Back to Rooms', rooms_path, class: "hover:underline text-blue-800", data: {turbo: "false"} %>
</div>

<div class="container rounded-lg shadow-lg px-2 pb-20 sm:w-full">
  <div class="flex-col w-full">

    <div class="grid grid-cols-2 gap-1">
      <div>
        <%= image_tag(@floor.floor_plan.representation(resize_to_limit: [600, 600]), class: "building_image pr-2", alt: "#{@building.name} #{@floor.floor.gsub(/^0+(?!$)/, '')}" ) %>
      </div>

      <div>
        <div class="pb-4">
          <h2>Rooms on this floor</h2>
          <ul class="list-disc ml-8">
            <% @floor_rooms_list.each do |rm| %>
              <li>
              <%= link_to rm.room_number, room_path(rm), class: "text-blue-900 hover:underline" %>
              </li>
            <% end %>
          </ul>
        </div>
        <div>
          <h2>Other floors in this building</h2>
          <ul class="list-disc ml-8">
            <% @floors.each do |fl| %>
              <li>
              <%= link_to fl.floor.gsub(/^0+(?!$)/, ''), building_floor_path(@floor.building_bldrecnbr, @floors.find_by(floor: fl.floor)), class: "text-blue-900 hover:underline" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
