
<%= form_with(model: announcement) do |form| %>

  <div class="form-container">
    <div class="field-container">
      <div class="field">
        <span class="font-bold"><%= "Location: #{@announcement.location.gsub('_', ' ').upcase}" %></span>
      </div>

      <div class="field">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
      </div>
    </div>
  </div>

  <div class="action-area">
    <div class="actions">
      <%= form.submit 'Submit' %>
    </div>
  </div>
<% end %>
