%fieldset
  %legend.filters-group-heading
    Student Capacity

.filter-by-student-capacaity{data: { controller: "capacity-slider", "capacity-slider-minimum" => "#{capacity_slider_minimum}", "capacity-slider-maximum" => "#{capacity_slider_maximum}" }}
  -# .capacity-slider{data: {"tippy-content" => "Only show rooms with a capacity between #{capacity_slider_minimum} and #{capacity_slider_maximum}"}}

  #slider{data: { action:  "click->capacity-slider#updateSlider click->autosubmit#change", "capacity-slider-target" => "slider"}}

    -# = check_box_tag "room_characteristics[]", "#{filter_item}", params[:room_characteristics].try(:include?, "#{filter_item}"), {multiple: true, class: 'form-checkbox', data: { action: "autosubmit#checkboxSubmit"} }

    = hidden_field_tag "min_capacity", "#{capacity_slider_minimum}", { data: { action: "autosubmit#checkboxSubmit", target: "capacity-slider.minimum"} }
    = hidden_field_tag "max_capacity", "#{capacity_slider_maximum}", { data: { action: "autosubmit#checkboxSubmit", target: "capacity-slider.maximum"} }

    -# = hidden_field_tag(:min_capacity, value: 6)
    -# = hidden_field_tag(:min_capacity, value: 6) data: {target: "capacity-slider.minimum" }}
    -# = hidden_field_tag :max_capacity, {value: "#{capacity_slider_maximum}.to_i", data: {target: "capacity-slider.maximum" }, id: 'seating-capacity--max'}
