<div class="container mb-20">

  <h1>Room Filters Glossary</h1>

  <% for char in 'A'...'Z' do %>
    <%= link_to char, room_filters_glossary_path(anchor: "#{char}") %>
  <% end  %>
  <div class="ml-4">
    <% @filters.each do |filter| %>
      <div class="font-bold text-lg" id="<%= filter[0][0] %>"><a href="<%= filter[0][0] %>"><%= filter[0] %></a></div>
      <div class="mb-2 text-base"><%= filter[1] %></div>
    <% end %>
  </div>
</div>
