%h1 Listing buildings

%table
  %thead
    %tr
      %th Bldrecnbr
      %th Latitude
      %th Longitude
      %th Name
      %th Nick name
      %th Abbreviation
      %th Address
      %th City
      %th State
      %th Zip
      %th Country
      %th
      %th
      %th

  %tbody
    - @buildings.each do |building|
      %tr
        %td= building.bldrecnbr
        %td= building.latitude
        %td= building.longitude
        %td= building.name
        %td= building.nick_name
        %td= building.abbreviation
        %td= building.address
        %td= building.city
        %td= building.state
        %td= building.zip
        %td= building.country
        %td= link_to 'Show', building
        %td= link_to 'Edit', edit_building_path(building)
        %td= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Building', new_building_path

-unless @pagy.page == @pagy.count
  = pagy_nav(@pagy).html_safe