-# %h1 Listing buildings

%div
= form_tag(buildings_path, method: :get) do
  .mt-1.relative.rounded-md.shadow-sm
    .absolute.inset-y-0.left-0.pl-3.flex.items-center.pointer-events-none
      %svg.h-5.w-5.text-gray-600{fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", d: "M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z", "fill-rule" => "evenodd"}
    .form-input.block.w-full.pl-10{class: "sm:leading-5"}
      = text_field_tag :query
      = submit_tag "Submit"



%table
  %thead
    %tr
      %th Bldrecnbr
      %th Latitude
      %th Longitude
      %th Name
      %th Nick name
      %th Abbreviation
      %th Address
      %th City
      %th State
      %th Zip
      %th Country
      %th
      %th
      %th

  %tbody{class: "divide-y divide-gray-500 "}
    - @buildings.each do |building|
      %tr{class: "#{cycle('row-even', 'row-odd')}"}
        %td= building.bldrecnbr
        %td= building.latitude
        %td= building.longitude
        %td= building.name
        %td= building.nick_name
        %td= building.abbreviation
        %td= building.address
        %td= building.city
        %td= building.state
        %td= building.zip
        %td= building.country
        %td= link_to 'Show', building
        %td= link_to 'Edit', edit_building_path(building)
        %td= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Building', new_building_path

-unless @pagy.page == @pagy.count
  = pagy_nav(@pagy).html_safe