%p#notice= notice

%p
  %b Bldrecnbr:
  = @building.bldrecnbr
%p
  %b Latitude:
  = @building.latitude
%p
  %b Longitude:
  = @building.longitude
%p
  %b Name:
  = @building.name
%p
  %b Nick name:
  = @building.nick_name
%p
  %b Abbreviation:
  = @building.abbreviation
%p
  %b Address:
  = @building.address
%p
  %b City:
  = @building.city
%p
  %b State:
  = @building.state
%p
  %b Zip:
  = @building.zip
%p
  %b Country:
  = @building.country

= link_to 'Edit', edit_building_path(@building)
\|
= link_to 'Back', buildings_path
