<%= turbo_frame_tag dom_id(building) do  %>
  <div class="">
    <div class="mt-2 mb-3 px-2 sm:px-0">
      <h2 class="sr-only">Classroom</h2>
      <div class="bg-white border border-gray-300 rounded-lg">
        <% if building.building_image.representable? %>
          <%= link_to image_tag(building.building_image.representation(resize_to_limit: [250, 150]), class: 'p-2', alt: "#{building.name}"), rooms_path(:query => building.name), data: { "turbo-frame": "_top" } %>
        <% else %>
          <%= link_to image_tag('building_placeholder', height: '150', width: '150', class: 'm-2', alt: "building placeholder"), rooms_path(:query => building.name), data: { "turbo-frame": "_top" } %>
        <% end %>
        <div class="text-xs pl-2 -mt-2 font-bold"><%= building.name.titleize %></div>
        <div class="text-xs pl-2">
          <%= building.address.titleize %>
        </div>
      </div>
    </div>  
  </div>

<% end %>