<h1>
        Classroom <%= @room.facility_code_heprod%>
      </h1>
<%= form_for @room do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:" %>
      </h2>
      <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6" >
    <div class="sm:col-span-4">
      <% if @room.visible %>
        <%= f.label :visible, "Uncheck to hide the room" %>
      <% else %>
        <%= f.label :visible, "Check to show the room" %>
      <% end %>
      <%= f.check_box :visible %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :room_image %>
      <%= f.file_field :room_image %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :room_panorama %>
      <%= f.file_field :room_panorama %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :room_layout %>
      <%= f.file_field :room_layout %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :gallery_image1 %>
      <%= f.file_field :gallery_image1 %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :gallery_image2 %>
      <%= f.file_field :gallery_image2 %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :gallery_image3 %>
      <%= f.file_field :gallery_image3 %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :gallery_image4 %>
      <%= f.file_field :gallery_image4 %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :gallery_image5 %>
      <%= f.file_field :gallery_image5 %>
    </div>
    <div class="sm:col-span-4">
      <%= f.label :gallery_image6 %>
      <%= f.file_field :gallery_image6 %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: "my-2 px-2 rounded-md shadow-sm bg-gray-100 text-sm text-black text-center ring-1 ring-black ring-opacity-5 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 hover:bg-gray-400" %>
  </div>
<% end %>
