= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :rmrecnbr
    = f.text_field :rmrecnbr
  .field
    = f.label :floor
    = f.text_field :floor
  .field
    = f.label :room_number
    = f.text_field :room_number
  .field
    = f.label :rmtyp_description
    = f.text_field :rmtyp_description
  .field
    = f.label :dept_id
    = f.number_field :dept_id
  .field
    = f.label :dept_grp
    = f.text_field :dept_grp
  .field
    = f.label :dept_description
    = f.text_field :dept_description
  .field
    = f.label :square_feet
    = f.number_field :square_feet
  .field
    = f.label :instructional_seating_count
    = f.number_field :instructional_seating_count
  .field
    = f.label :visible
    = f.check_box :visible
  .field
    = f.label :building
    = f.text_field :building
  .actions
    = f.submit 'Save'
