#roomListing.mb-10
  .grid.grid-cols-4.bg-blue-50
    .col-span-3.pl-2
      - @filters_list.each do |k,v|
        = "#{k}: #{v}; "
    .bg-white.place-self-end.pr-2
      %span.text-muted{"data-autosubmit-target" => "status"}
      = "#{@pagy.count} Results"
  .flex.flex-col
    .overflow-x-auto
      .py-2.align-middle.inline-block.min-w-full
        .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
          %table.min-w-full.divide-y.divide-gray-200.max-w-5xl
            %thead.bg-gray-50
              %tbody.bg-white.divide-y.divide-gray-200
                - @rooms.each do |room|
                  = render 'room_row', room: room
    = render partial: "partials/pagination", locals: { pagy: @pagy }
