#roomListing.mb-10
  .pl-2.font-semibold 
    - if @rooms_search_count == @all_rooms_number
      = "All Rooms"
    - elsif @rooms_search_count == 1
      = "1 Room"
    - else 
      = "#{@rooms_search_count} Rooms"
  .flex
    .flex.pl-2
      %span.text-gray-700
      = @filters_list
    .justify-end.pr-2
      %span.text-muted{"data-autosubmit-target" => "status"}
      
  .flex.flex-col
    .overflow-x-auto
      .py-2.align-middle.inline-block.min-w-full
        .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
          %table.min-w-full.divide-y.divide-gray-200.max-w-5xl
            %thead.bg-gray-50
              %tbody.bg-white.divide-y.divide-gray-200
                - @rooms.each do |room|
                  = render 'room_row', room: room
    = render partial: "partials/pagination", locals: { pagy: @pagy }
