<div class="classroom-row-dropdown">
  <div>
    <div class="relative">
      <div class=" flex-col  mx-auto overflow-hidden pb-2">
        <div class="classroom-row-dropdown-features-sectionx">
          <% if room.room_characteristics %>
            <div class="classroom-row-dropdown-features-group">
              <h4 class="features-header">
                Features
              </h4>
              <hr/>
            </div>
            <ul class="classroom-row-dropdown-features">
              <% room.room_characteristics.select{ |c| c.feature?}.each do |characteristic| %>
                <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                <% room.room_characteristics.select{ |c| c.teamboard_feature?}.each do |characteristic| %>
                  <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.teamlearning_feature?} %>
                <% room.room_characteristics.select{ |c| c.teamlearning_feature?}.each do |characteristic| %>
                  <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.instructor_computer?} %>
                <% room.room_characteristics.select{ |c| c.instructor_computer?}.each do |characteristic| %>
                  <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                <% end %>
              <% end %>
            </ul>
            <div class="classroom-row-dropdown-features-group">
              <h4 class="features-header">
                Additional characteristics
              </h4>
              <hr/>
            </div>
            <ul class="classroom-row-dropdown-features">
              <% if room.room_characteristics.select{ |c| c.teamlearning_feature?} %>
                <% room.room_characteristics.select{ |c| c.teamlearning_feature?}.each do |characteristic| %>
                  <div class="flex-shrink-0">
                    <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                  </div>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.chalkboard_feature?} %>
                <% room.room_characteristics.select{ |c| c.chalkboard_feature?}.each do |characteristic| %>
                  <div class="flex-shrink-0">
                    <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                  </div>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.whiteboard_feature?} %>
                <% room.room_characteristics.select{ |c| c.whiteboard_feature?}.each do |characteristic| %>
                  <div class="flex-shrink-0">
                    <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                  </div>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.projection_feature?} %>
                <% room.room_characteristics.select{ |c| c.projection_feature?}.each do |characteristic| %>
                  <div class="flex-shrink-0">
                    <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                  </div>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
        
        <div class="classroom-row-contact-items">
          <hr class="w-3/4 mx-auto pb-1">
          <div class="flex text-sm">
            <div class="w-1/2 classroom-row-contact-itemx classroom-row-scheduling-contactx">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="classroom-row-contact-icon bg-blue-700">
                    <svg fill="none" stroke="currentColor" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-1 lg:ml-4">
                  <h5>
                    <%= room.room_schedule_contact %>
                  </h5>
                  <ul>
                    <li>
                      <div class="icon">
                        <%= svg("phone") %>
                      </div>
                      <%= "#{room.room_schedule_phone}" %>
                    </li>
                    <li>
                      <div class="icon">
                        <%= svg("envelope") %>
                      </div>
                      <%= "Email #{room.room_schedule_email}" %>
                    </li>
                    <li class= "hover:underline">
                      <%= link_to "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{room.facility_code_heprod }", target: "_blank" do %>
                        <div class="icon">
                          <%= svg("calendar_days") %>
                        </div>
                      <% end %>
                      <span class="">View room availability</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="w-1/2 classroom-row-contact-itemx classroom-row-support-contactx">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="classroom-row-contact-icon bg-red-700">
                    <svg fill="none" stroke="currentColor" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                      <path d="M256 504c136.967 0 248-111.033 248-248S392.967 8 256 8 8 119.033 8 256s111.033 248 248 248zm-103.398-76.72l53.411-53.411c31.806 13.506 68.128 13.522 99.974 0l53.411 53.411c-63.217 38.319-143.579 38.319-206.796 0zM336 256c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zm91.28 103.398l-53.411-53.411c13.505-31.806 13.522-68.128 0-99.974l53.411-53.411c38.319 63.217 38.319 143.579 0 206.796zM359.397 84.72l-53.411 53.411c-31.806-13.505-68.128-13.522-99.973 0L152.602 84.72c63.217-38.319 143.579-38.319 206.795 0zM84.72 152.602l53.411 53.411c-13.506 31.806-13.522 68.128 0 99.974L84.72 359.398c-38.319-63.217-38.319-143.579 0-206.796z"></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-1 lg:ml-4">
                  <h5>
                    <%= "Support provided by #{room.department_name}" %>
                  </h5>
                  <ul>
                    <li>
                      <div class="icon">
                        <%= svg("phone") %>
                      </div>
                      <%= "#{room.room_support_phone}" %>
                    </li>
                    <li>
                      <div class="icon">
                        <%= svg("envelope") %>
                      </div>
                      <%= "#{room.room_support_email}" %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>