
%tr.flex.flex-wrap.justify-between{class: "#{cycle('row-even', 'row-odd')}", id: dom_id(room)}
  -# basic info
  %td.px-6.pt-2.pb-6.whitespace-nowrap
    .flex.items-center
      .flex-shrink-0.h-16.w-auto
        -# %img.h-12.w-12.rounded-full{alt: "head", src: "https://images.unsplash.com/photo-1585637071663-799845ad5212?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xhc3Nyb29tfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"}
        
        %img.h-14.w-14.rounded-full{alt: "head", src: "https://images.unsplash.com/photo-1606761568499-6d2451b23c66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNsYXNzcm9vbXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"}


        %span.px-1.py-1.mr-1.mt-1.text-xs.leading-5.font-semibold.rounded-full.bg-green-200.text-green-800
          Alerts?

      .ml-4.max-w-xs.w-screen
        .text-md.font-medium.text-gray-900
          = "#{room.room_number} #{room.building.name.titleize}"
      
          %span.flex.justify-between
            .text-md.text-gray-600
              = "#{room.building.address}"
            .text-sm.font-medium.text-orange-700 
              = "Capacity: #{room.instructional_seating_count}"
            .text-sm.font-medium.text-orange-700 
              = link_to toggle_visibile_path(room), data: {"turbo-method": :toggle_visibile} do 
                = room.visible ? "visible" : "hidden"
              

              -# = button_to toggle_visibility_room_path, remote: true do
              -#   - if room.visible?
              -#     .icon= render "icons/toggle-on_icon", cached: true
              -#   -else
              -#     .icon= render "icons/toggle-off_icon", cached: true

                = room.visible ? "visible" : "hidden"

  %td.px-6.py-4.whitespace-nowrap.justify-between
    .text-sm.text-gray-900.text-right

      = "#{room.dept_grp}"
    .text-xs.text-gray-500.flex.flex-col.sm:ml-20
      %span Schedule this room
      %span Tech Support


    -# %td.px-6.py-4.whitespace-nowrap
    
    %td.px-6.pt-3.whitespace-nowrap.text-sm.text-blue-600.hover:text-blue-500
      Details
      .hidden.whitespace-nowrap.text-right
        %a.text-blue-600.hover:text-red-600{href: "#"} Edit
        
