<div class="classroom-row-dropdown">
  <div>
    <div class="relative">
      <div class="flex-col  mx-auto pb-2">

          <% if room.room_characteristics %>
            <div class="classroom-row-dropdown-features-group">
              <h4 class="features-header">
                Features
              </h4>
              <hr/>
            </div>
            <ul class="classroom-row-dropdown-features">
              <% room.room_characteristics.select{ |c| c.feature?}.each do |characteristic| %>
                <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                <% room.room_characteristics.select{ |c| c.teamboard_feature?}.each do |characteristic| %>
                  <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.teamlearning_feature?} %>
                <% room.room_characteristics.select{ |c| c.teamlearning_feature?}.each do |characteristic| %>
                  <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.instructor_computer?} %>
                <% room.room_characteristics.select{ |c| c.instructor_computer?}.each do |characteristic| %>
                  <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                <% end %>
              <% end %>
            </ul>
            <div class="classroom-row-dropdown-features-group">
              <h4 class="features-header">
                Additional characteristics
              </h4>
              <hr/>
            </div>
            <ul class="classroom-row-dropdown-features">
              <% if room.room_characteristics.select{ |c| c.teamlearning_feature?} %>
                <% room.room_characteristics.select{ |c| c.teamlearning_feature?}.each do |characteristic| %>
                  <div class="flex-shrink-0">
                    <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                  </div>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.chalkboard_feature?} %>
                <% room.room_characteristics.select{ |c| c.chalkboard_feature?}.each do |characteristic| %>
                  <div class="flex-shrink-0">
                    <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                  </div>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.whiteboard_feature?} %>
                <% room.room_characteristics.select{ |c| c.whiteboard_feature?}.each do |characteristic| %>
                  <div class="flex-shrink-0">
                    <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                  </div>
                <% end %>
              <% end %>
              <% if room.room_characteristics.select{ |c| c.projection_feature?} %>
                <% room.room_characteristics.select{ |c| c.projection_feature?}.each do |characteristic| %>
                  <div class="flex-shrink-0">
                    <%= render partial: 'room_characteristic', locals:  {characteristic: characteristic}, cached: true %>
                  </div>
                <% end %>
              <% end %>
            </ul>
          <% end %>
      </div>
    </div>
  </div>
</div>