<h2><%= "#{@room.building.name} - Floor #{@room.floor.gsub(/^0+(?!$)/, '')}" %></h2>
<div class="py-2">
  <%= link_to 'Back', room_path(@room), class: "hover:underline text-blue-800", data: {turbo: "false"} %>
</div>

<div class="container rounded-lg shadow-lg px-2 pb-5 md:w-3/4 sm:w-full">
  <div class="flex-col w-full">

    <div class="grid grid-cols-2 gap-1">
      <div>
        <%= image_tag(@room.building.floors.find_by(floor: @room.floor).floor_plan.representation(resize_to_limit: [600, 600]), class: "building_image pr-2", alt: "#{@room.building.name} #{@room.floor}" ) %>
      </div>

      <div>
        <div>
          Rooms on this floor
          <ul>
            <% @rooms_list.each do |rm| %>
              <li>
              <%= link_to rm.room_number, room_path(rm), class: "text-blue-900 hover:underline" %>
              </li>
            <% end %>
          </ul> 
        </div>
        <hr class"w-25">
        <div>
          Other floors in this building
          <ul>
            <% @floor_list.each do |fl| %>
              <li>
              <%= link_to fl.floor.gsub(/^0+(?!$)/, ''), building_floor_path(@building, @building.floors.find_by(floor: fl.floor)), class: "text-blue-900 hover:underline" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
