<div class="container mb-20" data-controller='autosubmit'>
  <h1>Classrooms</h1>
  <%= form_with url: rooms_path, method: :get, class: "", data: { target: "autosubmit.form" } do |form| %>
    <div class="grid grid-cols-5" >
      <div class="some-class">
        Filters
        <div class="flex justify-end mb-2">
          <button type="button" class="px-2 rounded-md shadow-sm bg-gray-100 text-sm text-black text-center ring-1 ring-black ring-opacity-5 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 hover:bg-gray-400"
            data-action='click->autosubmit#clearFilters'>
            Clear
          </button>
        </div>
      </div>
      <div class="col-span-4">
        <div class="flex justify-end mx-2 items-center">
          <span>Sort by capacity</span>
          <%= select_tag "direction", options_for_select([["asc", "asc"], ["desc", "desc"]]), include_blank: "Select ...", class: "block rounded-md sm:text-sm border-gray-300 ml-2",
          :"data-action" => "change->autosubmit#search"%>
        </div>
      </div>
      <div>
        <div class="col-span-1 pl-1 bg-gray-50 shadow border">
          <div class="px-1">
            <label for="school_or_college_name">Select a School/College
              <%= select_tag "school_or_college_name", options_for_select(@schools, " "), include_blank: "Select ...", class: "block rounded-none rounded-l-md sm:text-sm border-gray-300",
                        :"data-action" => "change->autosubmit#search" %>
          </div>
          <br>
          <hr>
          <div class="px-1">
            <label for="building_name">Search Building Names</label>
            <%= form.text_field :query, class: "block rounded-none rounded-l-md sm:text-sm border-gray-300", :placeholder => 'ex. "East Hall"', :"data-action" => "input->autosubmit#search", :"data-autosubmit-target" => "building_name" %>
          </div>
          <br>
          <hr>
          <div class="px-1 pb-2">
            <label for="classroom_name">Search Classroom Name</label>
            <%= form.text_field :classroom_name, class: 'block rounded-none rounded-l-md sm:text-sm border-gray-300', data: { action: "input->autosubmit#search" }, :placeholder => 'ex. "USB4153"' %>
          </div>
          <br>
          <hr>
          <div>
            <label class="" for="building_name">Capacity</label>
            <div class="flex mt-2">
              <div class="w-1/2 ml-2 mr-2">
                <label class="block text-sm font-medium text-gray-700" for="building_name">Min</label>
                <%= number_field_tag 'min_capacity', nil, min: 1, value: 0, data: { action: "input->autosubmit#search" }, class: 'w-full block rounded sm:text-sm border-gray-300' %>
              </div>
              <div class="ml-1 mr-2 w-1/2">
                <label class="block text-sm font-medium text-gray-700" for="building_name">Max</label>
                <%= number_field_tag 'max_capacity', nil, max: 600, value: 600, data: { action: "input->autosubmit#search" }, class: 'w-full block rounded sm:text-sm border-gray-300' %>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <div class="pl-1">
            <legend class="">Ameneties</legend>
            <ul class="">
              <li class="">
                <%= check_box_tag "room_characteristics[]", "InstrComp", params[:room_characteristics].try(:include?, "InstrComp"), id: "instructor-computer", class: "", data: { value: "instructor-computer", action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Instructor Computer</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "DocCam", params[:room_characteristics].try(:include?, "DocCam"), id: "doccam", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Document Camera</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "LectureCap", params[:room_characteristics].try(:include?, "LectureCap"), id: "lectcap", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Lecture Capture</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "VideoConf", params[:room_characteristics].try(:include?, "VideoConf"), id: "video-conferencing", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Video Conferencing</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "IntrScreen", params[:room_characteristics].try(:include?, "IntrScreen"), id: "interavtive-screen", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Interactive Screen</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "BluRay", params[:room_characteristics].try(:include?, "BluRay"), id: "bluray", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">BluRay / DVD</label>
              </li>
            </ul>
          </div>
          <br>
          <hr>
          <div class="pl-1">
            <legend class="">Team Learning</legend>
            <ul class="">
              <li class="">
                <%= check_box_tag "room_characteristics[]", "TeamBoard", params[:room_characteristics].try(:include?, "TeamBoard"), id: "team-board", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Team Board</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "TeamTables", params[:room_characteristics].try(:include?, "TeamTables"), id: "team-tables", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Team Tables</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "TeamTech", params[:room_characteristics].try(:include?, "TeamTech"), id: "team-technology", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Team Technology</label>
              </li>
            </ul>
          </div>
          <br>
          <hr>
          <div class="pl-1">
            <legend class="">Writing Surface</legend>
            <ul class="">
              <li class="">
                <%= check_box_tag "room_characteristics[]", "TeamTech", params[:room_characteristics].try(:include?, "TeamTech"), id: "team-technology", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Whiteboard</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "Chkbrd", params[:room_characteristics].try(:include?, "Chkbrd"), id: "chalkboard", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Chalkboard</label>
              </li>
            </ul>
          </div>
          <br>
          <hr>
          <div class="pl-1">
            <legend class="">Projection</legend>
            <ul class="">
              <li class="">
                <%= check_box_tag "room_characteristics[]", "Proj35mm", params[:room_characteristics].try(:include?, "Proj35mm"), id: "projector-35mm", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">35mm Film</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "ProjD-Cin", params[:room_characteristics].try(:include?, "ProjD-Cin"), id: "projector-cin", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Digital Cinema (DCP)</label>
              </li>
              <li class="">
                <%= check_box_tag "room_characteristics[]", "ProjDigit", params[:room_characteristics].try(:include?, "ProjDigit"), id: "projector-digital", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                <label class="text-sm font-medium text-gray-700" for="instructor-computer">Digital Data & Video</label>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
      
      <div class="col-span-4">
        <% if user_signed_in? %>
          <%= render 'listing' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
