<h1>Classrooms</h1>
<div class="grid grid-cols-5 gap-3">
  <div class="some-class">
      Filters
    <%= form_with url: rooms_path, method: :get, class: "", data: { controller: "autosubmit", target: "autosubmit.form" } do |form| %>
      <label class="block text-sm font-medium text-gray-700" for="building_name">Search building names</label>
      
      <% if params[:query].blank?  %>
        <%= form.text_field :query, {class: "search-by-building-name", :placeholder => "Undergraduate Sciences Building", data: { action: "input->autosubmit#search" }}   %>
      <% else %>
        <%= form.text_field :query, class: 'search-by-building-name', value: params[:query], data: { action: "input->autosubmit#search" } %>
      <% end %>
      <br>
      <hr>
      <fieldset>
        <legend class="">Ameneties</legend>

        <ul class="characteristics-list">
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "InstrComp", params[:room_characteristics].try(:include?, "InstrComp"), id: "instructor-computer", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Instructor Computer</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "DocCam", params[:room_characteristics].try(:include?, "DocCam"), id: "doccam", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Document Camera</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "LectureCap", params[:room_characteristics].try(:include?, "LectureCap"), id: "lectcap", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Lecture Capture</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "VideoConf", params[:room_characteristics].try(:include?, "VideoConf"), id: "video-conferencing", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Video Conferencing</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "IntrScreen", params[:room_characteristics].try(:include?, "IntrScreen"), id: "interavtive-screen", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Interactive Screen</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "BluRay", params[:room_characteristics].try(:include?, "BluRay"), id: "bluray", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">BluRay / DVD legendayer</label>
          </li>
        </ul>
      </fieldset>
      <br>
      <hr>
      <fieldset>
        <legend class="">Team Learning</legend>
        <ul class="characteristics-list">
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "TeamBoard", params[:room_characteristics].try(:include?, "TeamBoard"), id: "team-board", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Team Board</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "TeamTables", params[:room_characteristics].try(:include?, "TeamTables"), id: "team-tables", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Team Tables</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "TeamTech", params[:room_characteristics].try(:include?, "TeamTech"), id: "team-technology", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Team Technology</label>
          </li>
        </ul>
      </fieldset>
      <br>
      <hr>
      <fieldset>
        <legend class="">Writing Surface</legend>
        <ul class="characteristics-list">
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "TeamTech", params[:room_characteristics].try(:include?, "TeamTech"), id: "team-technology", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Whiteboard</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "Chkbrd", params[:room_characteristics].try(:include?, "Chkbrd"), id: "chalkboard", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Chalkboard</label>
          </li>
        </ul>
      </fieldset>
      <br>
      <hr>
      <fieldset>
        <legend class="">Projection</legend>
        <ul class="characteristics-list">
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "Proj16mm", params[:room_characteristics].try(:include?, "Proj16mm"), id: "projector-16mm", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">16mm Film&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "Proj35mm", params[:room_characteristics].try(:include?, "Proj35mm"), id: "projector-35mm", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">35mm Film</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "ProjD-Cin", params[:room_characteristics].try(:include?, "ProjD-Cin"), id: "projector-cin", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Digital Cinema (DCP)</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "ProjDigit", params[:room_characteristics].try(:include?, "ProjDigit"), id: "projector-digital", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Digital Data & Video</label>
          </li>
          <li class="check-box">
            <%= check_box_tag "room_characteristics[]", "ProjSlide", params[:room_characteristics].try(:include?, "ProjSlide"), id: "projector-slide", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
            <label class="" for="instructor-computer">Slide Projector</label>
          </li>
        </ul>
      </fieldset>

    <% end %>
  </div>
    
  <div class="col-span-4">
    <% if user_signed_in? %>
      <%= render 'listing' %>
    <% end %>
  </div>
</div>
