<div class="container mb-20" data-controller='autosubmit'>
  <% if @rooms_page_announcement.present? && @rooms_page_announcement.content.present? %>  
    <div class="relative p-2 flex justify-center">
      <%= @rooms_page_announcement.content %>
      <div>
        <% if policy(Announcement).edit? %>
          <%= link_to edit_announcement_path(@rooms_page_announcement) do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              <title>Edit announcement</title>
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="grid grid-cols-2 pb-2">
    <div>
      <h1>Classrooms</h1>
    </div>
    <div class="bg-blue-900 text-white justify-self-end md:hidden mr-4">

      <!--  Mobile menu button -->
      <button class="mobile-menu-button p-4 focus:outline-none focus:bg-blue-900 ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
  <div>
    <%= form_with url: rooms_path, method: :get, class: "", data: { target: "autosubmit.form" } do |form| %>
      <div class="relative min-h-screen md:flex">
        
        <div class="sidebar w-64 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out" data-autosubmit-target="sidebar">
          <div class="pl-1 bg-gray-50 shadow border">
            <div class="px-1">
              <label for="school_or_college_name">Select a School/College</label>
                <%= select_tag "school_or_college_name", options_for_select(@schools, " "), include_blank: "Select ...", class: "block rounded-none rounded-l-md text-xs border-gray-300",
                          :"data-action" => "change->autosubmit#search" %>
            </div>
            <br>
            <hr>
            <div class="px-1">
              <label for="building_name">Search Building Names</label>
              <%= form.text_field :query, class: "block rounded-none rounded-l-md sm:text-sm border-gray-300", :placeholder => 'ex. "East Hall"', :"data-action" => "input->autosubmit#search", :"data-autosubmit-target" => "building_name" %>
            </div>
            <br>
            <hr>
            <div class="px-1 pb-2">
              <label for="classroom_name">Search Classroom Name</label>
              <%= form.text_field :classroom_name, class: 'block rounded-none rounded-l-md sm:text-sm border-gray-300', data: { action: "input->autosubmit#search" }, :placeholder => 'ex. "USB4153"' %>
            </div>
            <br>
            <hr>
            <div>
              <label>Capacity</label>
              <div class="flex mt-2">
                <div class="w-1/2 ml-2 mr-2">
                  <label class="block text-sm font-medium text-gray-700" for="min_capacity">Min</label>
                  <%= number_field_tag 'min_capacity', nil, min: 1, value: 0, :"data-autosubmit-target" => "min_capacity", data: { action: "input->autosubmit#capacitySubmit" }, class: 'w-full block rounded sm:text-sm border-gray-300' %>
                  <span class="capacity-error--hide text-red-700" data-autosubmit-target="capacity_error">
                </div>
                <div class="ml-1 mr-2 w-1/2">
                  <label class="block text-sm font-medium text-gray-700" for="max_capacity">Max</label>
                  <%= number_field_tag 'max_capacity', nil, max: 600, value: 600, :"data-autosubmit-target" => "min_capacity", data: { action: "input->autosubmit#capacitySubmit"}, class: 'w-full block rounded sm:text-sm border-gray-300' %>
                </div>
              </div>
            </div>
            <br>
            <hr>
            <div class="pl-1">
              <legend class="">Ameneties</legend>
              <ul class="">
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "InstrComp", params[:room_characteristics].try(:include?, "InstrComp"), id: "instructor-computer", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="instructor-computer">Instructor Computer</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "DocCam", params[:room_characteristics].try(:include?, "DocCam"), id: "doccam", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="doccam">Document Camera</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "LectureCap", params[:room_characteristics].try(:include?, "LectureCap"), id: "lectcap", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="lectcap">Lecture Capture</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "VideoConf", params[:room_characteristics].try(:include?, "VideoConf"), id: "video-conferencing", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="video-conferencing">Video Conferencing</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "IntrScreen", params[:room_characteristics].try(:include?, "IntrScreen"), id: "interavtive-screen", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="interavtive-screen">Interactive Screen</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "BluRay", params[:room_characteristics].try(:include?, "BluRay"), id: "bluray", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="bluray">BluRay / DVD</label>
                </li>
              </ul>
            </div>
            <br>
            <hr>
            <div class="pl-1">
              <legend class="">Team Learning</legend>
              <ul class="">
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "TeamBoard", params[:room_characteristics].try(:include?, "TeamBoard"), id: "team-board", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="team-board">Team Board</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "TeamTables", params[:room_characteristics].try(:include?, "TeamTables"), id: "team-tables", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="team-tables">Team Tables</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "TeamTech", params[:room_characteristics].try(:include?, "TeamTech"), id: "team-technology", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="team-technology">Team Technology</label>
                </li>
              </ul>
            </div>
            <br>
            <hr>
            <div class="pl-1">
              <legend class="">Writing Surface</legend>
              <ul class="">
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "Whtbrd", params[:room_characteristics].try(:include?, "Whtbrd"), id: "whiteboard", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="whiteboard">Whiteboard</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "Chkbrd", params[:room_characteristics].try(:include?, "Chkbrd"), id: "chalkboard", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="chalkboard">Chalkboard</label>
                </li>
              </ul>
            </div>
            <br>
            <hr>
            <div class="pl-1">
              <legend class="">Projection</legend>
              <ul class="">
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "Proj35mm", params[:room_characteristics].try(:include?, "Proj35mm"), id: "projector-35mm", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="projector-35mm">35mm Film</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "ProjD-Cin", params[:room_characteristics].try(:include?, "ProjD-Cin"), id: "projector-cin", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="projector-cin"">Digital Cinema (DCP)</label>
                </li>
                <li class="">
                  <%= check_box_tag "room_characteristics[]", "ProjDigit", params[:room_characteristics].try(:include?, "ProjDigit"), id: "projector-digital", class: "", data: { action: "input->autosubmit#checkboxSubmit" } %>
                  <label class="text-sm font-medium text-gray-700" for="projector-digital">Digital Data & Video</label>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="flex-1 mx-2">
          <div class="grid grid-cols-2">
            <div class="mb-2">
              <button type="button" class="px-2 rounded-md shadow-sm bg-gray-100 text-sm text-black text-center ring-1 ring-black ring-opacity-5 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 hover:bg-gray-400"
                data-action='click->autosubmit#clearFilters'>
                Clear
              </button>
            </div>
            <div class="flex justify-end items-center">
              <label for="direction" class="border-0 h-px -m-px overflow-hidden p-0 absolute w-px">Sort by capacity</label>
              <%= select_tag "direction", options_for_select([["Low to High", "asc"], ["High to Low", "desc"]]), include_blank: "Sort Room Capacity", class: "rounded-md sm:text-sm ml-2",
              :"data-action" => "change->autosubmit#search" %>
            </div>
          </div>
          <div class="">
            <% if user_signed_in? %>
              <%= render 'listing' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'mobile_menu', async: true %>