-# = form_tag(rooms_path, method: :get) do
-#   .mt-1.relative.rounded-md.shadow-sm
-#     .absolute.inset-y-0.left-0.pl-3.flex.items-center.pointer-events-none
-#       %svg.h-5.w-5.text-gray-600{fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
-#         %path{"clip-rule" => "evenodd", d: "M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z", "fill-rule" => "evenodd"}
-#     .form-input.block.w-full.pl-10{class: "sm:leading-5"}
-#       = text_field_tag :query
-#       = submit_tag "Submit"
%h1 Listing rooms


= form_with url: rooms_path, method: :get, class: "", data: { controller: "autosave", target: "autosave.form", action: "ajax:success->autosave#success ajax:error->autosave#error" } do |form|

  %label.block.text-sm.font-medium.text-gray-700{for: "building_name"}Search building names
  .mt-1.flex.rounded-md.shadow-sm
    .relative.flex.items-stretch.flex-grow.focus-within:z-10
      .absolute.inset-y-0.left-0.pl-3.flex.items-center.pointer-events-none
        .h-5.w-5.text-gray-400= svg("magnifying-glass")

      - if params[:query].blank? 
        = form.text_field :query, class: "search-by-building-name", :placeholder => "Undergraduate Sciences Building", data: { action: "keyup->autosave#save" }
      - else
        = form.text_field :query, class: 'search-by-building-name', value: params[:query], data: { action: "keyup->autosave#save" }
    %span.text-muted{"data-autosave-target" => "status"}

    %button.-ml-px.relative.inline-flex.items-center.space-x-2.px-4.py-2.border.border-gray-300.text-sm.font-medium.rounded-r-md.text-gray-700.bg-gray-50.hover:bg-gray-100.focus:outline-none.focus:ring-1.focus:ring-indigo-500.focus:border-indigo-500
      / Heroicon name: solid/sort-ascending
      %svg.h-5.w-5.text-gray-400.rotate-180{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
        %path{d: "M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h5a1 1 0 000-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM13 16a1 1 0 102 0v-5.586l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L13 10.414V16z"}
      %span Sort
    -# = form.submit


  = render partial: './search/filters'

= "#{@pagy.count} Results"


%table{class: "divide-y divide-gray-800 z-0"}
  %thead
    %tr
      %th Rmrecnbr
      %th Floor
      %th Room number
      %th Rmtyp description
      -# %th Dept
      %th Dept grp
      -# %th Dept description
      -# %th Square feet
      %th Instructional seating count
      %th Visible
      %th building
      %th
      %th
      %th

  %tbody{class: "divide-y divide-gray-500"}

    - @rooms.each do |room|
      %tr{class: "#{cycle('row-even', 'row-odd')}"}
        = render 'room_row', room: room

%br

= link_to 'New Room', new_room_path


= render 'room_results_count'