<%= turbo_frame_tag "room" do  %>
  <div id="notice">
    <%= notice %>
  </div>
  <div class="container rounded-lg shadow-lg px-2 md:w-3/4 sm:w-full">
    <div class="flex-col w-full">
      <h1>
        <%= @room.facility_code_heprod%>
      </h1>
      <div>
        <%= room_image(@room) %>
      </div>
      <div class='pl-4 mb-5'>
        <%= render 'room_panorama', room: @room  %>
      </div>
    </div>
    <div class="grid grid-cols-6 gap-2">
      <div class="col-span-2">
        <%= building_image( @room ) %>
        <div class="text-xs pl-2 -mt-2 "><%= @room.building.name.titleize %></div>
      </div>
      <div class="col-span-4 truncate pl-1 text-left flex justify-end">
        <div class="grid grid-rows-2 gap-2 text-sm pr-2">
          <div class="flex overflow-x-auto">
            <div>
              <div class="classroom-row-contact-icon bg-blue-700">
                <svg fill="none" stroke="currentColor" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path>
                </svg>
              </div>
            </div>
            <div class="ml-1 lg:ml-4">
              <h5>
                <%= @room.room_schedule_contact %>
              </h5>
              <ul>
                <li>
                  <div class="h-highlight-item">
                    <%= svg("phone") %>
                  </div>
                  <%= "#{@room.room_schedule_phone}" %>
                </li>
                <li>
                  <div class="h-highlight-item">
                    <%= svg("envelope") %>
                  </div>
                  <%= "Email #{@room.room_schedule_email}" %>
                </li>
              </ul>
            <hr>
            </div>
          </div>
          <div>
            <div class="flex overflow-x-auto">
              <div class="">
                <div class="classroom-row-contact-icon bg-blue-800">
                  <%= svg("message_question") %>
                </div>
              </div>
              <div class="ml-1 lg:ml-4">
                <h5>
                  <%= "Support provided by #{@room.department_name}" %>
                </h5>
                <ul>
                  <li>
                    <div class="h-highlight-item">
                      <%= svg("phone") %>
                    </div>
                    <%= "#{@room.room_support_phone}" %>
                  </li>
                  <li>
                    <div class="h-highlight-item">
                      <%= svg("envelope") %>
                    </div>
                    <%= "#{@room.room_support_email}" %>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container grid p-2 text-xl border-t-2 border-gray-100">Details

      <div class="text-lg">Instructional seating count:
        <%= @room.instructional_seating_count %>
      </div>
      <div class="grid grid-cols-3 text-sm font-medium">

        <%= link_to "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{@room.facility_code_heprod }", target: "_blank" do %>
          <div class="h-layout h-highlight-item">
            <%= svg("calendar_days")  %>
            <span>Room Availability</span>
          </div>
        <% end %>
        <%= link_to room_layout(@room), target: "_blank" do %>
          <div class="h-layout h-highlight-item">
            <%= svg("chair") %>
            <span>Room Layout</span>
          </div>
        <% end %> 
        <%= link_to "#", target: "_blank" do %>
          <div class="h-layout h-highlight-item">
            <%= svg("layer_group") %>
            <span>Floor <%= @room.floor.gsub(/[0]/, '') %> Map  </span>
          </div>
        <% end %> 
      </div>
      <%= render 'rooms_row_dropdown', room: @room%>
    </div>
  </div>
  <div class="py-2 mb-20">
    <%= link_to 'Back', rooms_path, class: "hover:underline text-blue-800", data: {turbo: "false"} %>
    <% if user_signed_in? && policy(Room).edit? %>
      |
      <%= link_to 'Edit', edit_room_path(@room), class: "hover:underline text-blue-800", data: {turbo: "false"} %>
    <% end %>
  </div>
<% end %>

<div class="container p-2 rounded-lg shadow-lg text-xl mb-20 -mt-16 bg-gray-50">Notes:
  <% if session["user_admin"] %>
    <div class="mb-20">
      <% if user_signed_in? %>
        <%= render partial: "notes/form", locals: { note: Note.new, noteable: @room } %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "login", new_user_session_path %> to note
      <% end %>
      
      <%= turbo_stream_from @room, :notes %>
      <%= tag.div id: "#{dom_id(@room)}_notes" do %>
        <%= render @room.notes %>
      <% end %>
    </div>
  <% else %>
    <div>
      <% @room.notes.each do |note| %>
        <hr class= "flex-1 border-t border-blue-600 mt-1 mb-2 m-2">
        <div class="text-sm pb-1">
          <%= note.updated_at.strftime('%m/%d/%Y') %>
          <%= note.body  %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>