<%= turbo_frame_tag "room" do  %>
  <div id="notice">
    <%= notice %>
  </div>
  <div class="container rounded-lg shadow-lg px-auto">
    <div class="flex-col w-full px-2">
      <h1>
        <%= @room.facility_code_heprod%>
      </h1>
      <div class='px-2 mb-5'>
        <%= render 'room_panorama', room: @room  %>
      </div>
    </div>
    <div class="grid grid-cols-6 gap-2">
      <div class="col-span-2 max-h-24">
        <%= building_image( @room ) %>
        <div class="text-xs pl-2 -mt-2 "><%= @room.building.name.titleize %></div>
      </div>
      <div class="col-span-4 pl-1 text-left text-xs flex justify-end md:text-sm">
        <div class="grid grid-rows-2 gap-2 pr-2">
          <div class="flex-shrink-0">
            <div>
              <div class="classroom-row-contact-icon bg-blue-700">
                <svg fill="none" stroke="currentColor" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path>
                </svg>
              </div>
            </div>
            <div class="ml-1 lg:ml-4 border border-b-2 border-gray-50">
              <%= @room.room_schedule_contact %>
              <ul>
                <% if @room.room_schedule_phone.present? %>
                  <li>
                    <div class="h-highlight-item">
                      <%= svg("phone") %>
                    </div>
                    <%= "#{@room.room_schedule_phone}" %>
                  </li>
                <% end %>
                <li>
                  <div class="h-highlight-item">
                    <%= svg("envelope") %>
                  </div>
                  <%= "Email #{@room.room_schedule_email}" %>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="flex-shrink-0">
              <div class="">
                <div class="classroom-row-contact-icon bg-blue-800">
                  <%= svg("message_question") %>
                </div>
              </div>
              <div class="ml-1 lg:ml-4">
                <%= "Support provided by #{@room.department_name}" %>
                <ul>
                  <li>
                    <div class="h-highlight-item">
                      <%= svg("phone") %>
                    </div>
                    <%= "#{@room.room_support_phone}" %>
                  </li>
                  <li>
                    <div class="h-highlight-item">
                      <%= svg("envelope") %>
                    </div>
                    <%= "#{@room.room_support_email}" %>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container p-2 text-xl border-t-2 border-gray-100">Details

      <div class="text-lg">Instructional seating count:
        <%= @room.instructional_seating_count %>
        <% if @room.ada_seat_count %>
          <%= "+ #{@room.ada_seat_count} accessible seating areas" %>
        <% end %>
      </div>
      <div class="grid grid-cols-3 gap-0 justify-items-center text-sm">
        <div>
          <%= link_to "https://csprod.dsc.umich.edu/services/facilitycalendar?facilityid=#{@room.facility_code_heprod }", target: "_blank" do %>
            <div class="h-layout h-highlight-item">
              <%= svg("calendar_days")  %>
              <span>Room Availability</span>
            </div>
          <% end %>
        </div>
        <div class="ml-3">
          <% if @room.building.floors.find_by(floor: @room.floor).present? %>
            <%= link_to "#{room_path(@room)}/floor_plan", data:{"turbo-frame":"_top"} do %>
              <div class="h-layout h-highlight-item">
                <%= svg("layer_group") %>
                <span>Floor <%= @room.floor.gsub(/^0+(?!$)/, '') %> Map  </span>
              </div>
            <% end %>
          <% else %>
            <div class="h-layout h-no-highlight-item">
              <%= svg("layer_group") %>
              <span>Floor <%= @room.floor.gsub(/^0+(?!$)/, '') %></span>
            </div>
          <% end %>
        </div>
        <div>
          <% if @room.room_layout.attached? %>
            <%= link_to polymorphic_url(@room.room_layout), target: "_blank" do %>
              <div class="h-layout h-highlight-item">
                <%= svg("chair") %>
                <span>Room Layout</span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= render 'characteristics', room: @room%>
    </div>
  </div>
  <div class="py-2 mb-20">
    <%= link_to 'Back', :back, class: "hover:underline text-blue-800", data: {turbo: "false"} %>
    <% if user_signed_in? && policy(Room).edit? %>
      |
      <%= link_to 'Edit', edit_room_path(@room), class: "hover:underline text-blue-800", data: {turbo: "false"} %>
    <% end %>
  </div>
<% end %>

<div class="container p-2 rounded-lg shadow-lg text-xl mb-20 -mt-16 bg-gray-50">
  <% if session["user_admin"] %>
    <div class="mb-20">Notes:
      <% if user_signed_in? %>
        <%= render partial: "notes/form", locals: { note: Note.new, noteable: @room } %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "login", new_user_session_path %> to note
      <% end %>
      
      <%= turbo_stream_from @room, :notes %>
      <%= tag.div id: "#{dom_id(@room)}_notes" do %>
        <%= render @room.notes %>
      <% end %>
    </div>
  <% else %>
    <% if @room.notes.present? %>
      <div>Notes:
        <% @room.notes.each do |note| %>
          <hr class= "flex-1 border-t border-blue-600 mt-1 mb-2 m-2">
          <div class="text-sm pb-1">
            <%= note.updated_at.strftime('%m/%d/%Y') %>
            <%= note.body  %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>