!!!
%html{lang: "#{I18n.locale}"}
  %head
    - if Rails.env.staging?
      %script{:async => "async", :src => "https://www.googletagmanager.com/gtag/js?id=G-NE1XRCB19M"}
    - else
      %script{:async => "async", :src => "https://www.googletagmanager.com/gtag/js?id=UA-211737475-1"}

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= (t :sitename)
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload'

    - if content_for? :head
      = yield :head

  %body{'data-environment' => Rails.env}
    #page-top
    

    = render 'layouts/header'
    - if Rails.env.development?
      = render 'layouts/tailwindcss_breakpoints'
    %main{:class => controller.controller_name}
      .max-w-7xl{class: "mx-auto py-6 sm:px-6 lg:px-8"}
        / Replace with your content
        = render 'layouts/flash_messages'
        = yield
    = render 'layouts/footer'
