!!!
%html{lang: "#{I18n.locale}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= (t :sitename)
    = csrf_meta_tags
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload'

    - if content_for? :head
      = yield :head

  %body{'data-environment' => Rails.env}
    #page-top
    - unless Rails.env.production?
      .corner-ribbon.top-right= link_to('Work in Progress', project_status_path)

    = render 'layouts/header'
    = render 'layouts/tailwindcss_breakpoints'
    %main{:class => controller.controller_name}
      .max-w-7xl{class: "mx-auto py-6 sm:px-6 lg:px-8"}
        / Replace with your content
        = render 'layouts/flash_messages'
        = yield
    = render 'layouts/footer'