<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% gtm_id = google_tag_manager_id %>
    <% if gtm_id %>
      <script async="async" src="https://www.googletagmanager.com/gtag/js?id=<%= gtm_id %>"></script>
    <% end %>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      <%= page_title %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/pannellum@2.5.6/build/pannellum.css">
    <link rel="stylesheet" href="https://unpkg.com/trix@2.1.8/dist/trix.css">
    <link rel="stylesheet" href="https://unpkg.com/bigger-picture@1.1.17/dist/bigger-picture.css">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body data-environment="<%= Rails.env %>" class="min-h-screen flex flex-col">
    <a class="skiplink" href="#maincontent">Skip to main content</a>
    <%= render 'layouts/header' %>
    <% if Rails.env.development? %>
      <%= render 'layouts/tailwindcss_breakpoints' %>
    <% end %>
    <main class="<%= controller.controller_name %> flex-1" id="main">
      <div class="mx-auto py-6 sm:px-6 lg:px-8 max-w-7xl">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
